@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url('/font/PretendardVariable.woff2') format('woff2-variations');
  }
  /* @font-face {
    font-family: 'Inter';
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url('/font/InterVariable.woff2') format('woff2-variations');
  } */
}

body {
  font-family: 'Pretendard';
}

button {
  cursor: pointer;
}

:root {
  --n-900:#1A1B1E;
  --n-800:#37383B;
  --n-700:#56575D;
  --n-600:#686A6F;
  --n-500:#909195;
  --n-400:#AFB0B6;
  --n-300:#D3D6DB;
  --n-200:#E2E5EA;
  --n-100:#EFF0F5;
  --n-50:#F7F8FC;
  --n-0:#FFFFFF;
  --r-600:#D93025;
  --r-500:#EB3B2A;
  --r-400:#F6432B;
  --r-300:#EF736D;
  --r-200:#F7A39F;
  --r-100:#FFCDD0;
  --r-50:#FFE9EB;
  --g-400:#39B970;
}